<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Server Error</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <br/>
    <div class="container formError">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Server Error - {{ message }}</h3>
        </div>
        <div class="panel-body">
          <p>A server error has occured.</p>
          <p>{{&stack }}</p>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
