<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Opening hours</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="monday_open">Monday open</label>
  <div class="col-md-4">
  <input id="monday_open" name="monday_open" type="text" placeholder="08:00 AM" class="form-control input-md">
  </div>
</div>

</fieldset>
</form>
