<div class="container" style="background:#2f3036;color:white;">
  <div class="jumbotron">
    <font size = "3">
    <div class="row">
        <div class="col-sm-12"><center>
            <img src="{{data.external_path}}" width="50%"><img src="{{data.internal_path}}" width="50%"></div>
        </center></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>{{data.name}}</h2>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>{{data.address}}
            <br>{{data.phone}}
            </p>
        </div>
        <div class="col-sm-4">
            <p><a class="linky" href="{{data.href}}" target="new">{{data.href}}</p></a>
        </div>
        <div class="col-sm-4">
            <p><a href="{{data.about}}" target="_blank" rel="nofollow" class="twitter"></a></p>
        </di    v>
            
        <div id="col-sm-4">
            <a href="https://www.google.com/maps?saddr=My+Location&daddr={{data.ycoord}},{{data.xcoord}}" target="new"><img src="images/compass.png" width="100px" alt="Click here to route to this location"/></a>
        </div>  
    </div>
        
    <!--<div class="row">
      <div class="col-sm-12"><center></div></center>
      </div>
    </div>
    -->
    <div class="row">
        <div class="col-sm-4"><center>
            <h3>Shop details</h3> Breakfast: {{data.breakfast}}
            <p><br> Lunch: {{data.lunch}}
            <br> Hot food: {{data.hot_food}}
            <br> Pastry: {{data.pastry}}
            </p>
        </div>
        
        <div class="col-sm-4"><center>
            <h3>Coffee</h3> Roaster: {{data.coffee1}}
            <p><br> Grinder: {{data.grinder1}}
            <br> Machine: {{data.machine1}}
            </p>
        </div>
        <div class="col-sm-4"><center>
            <h3>Opening Hours: </h3>
            <p>{{data.opening_hours}}</p>
        </div>
    </div>

  
    <div class="row">
        <div class="col-sm-4"><center>
            <a href="{{data.twitter}}" target="_blank" rel="nofollow" class="twitter"><i class="fa fa-twitter fa-2x"></i></a>
        </div>
        <div class="col-sm-4"><center>
            <a href="{{data.facebook}}" target="_blank" rel="nofollow" class="facebook"><i class="fa fa-facebook fa-2x"></i></a>
        </div>
        <div class="col-sm-4"><center>
            <a href="{{data.instagram}}" target="_blank" rel="nofollow" class="instagram"><i class="fa fa-instagram fa-2x"></i></a>
        </div>
    </div>
    
    </div>
</div>