<div class="jumbotron">
    <div class="row">
        <div class="col-xs-6">
            <img src="{{data.external_path}}" width="100%">
        </div>
        <div class="col-xs-6">
            <h2><b>{{data.name}}</h2></b>
            <p>{{data.address}}
            <br>{{data.phone}}
            </p>
            <p><a class="linky" href="{{data.href}}" target="new">{{data.href}}</p></a>
            <a href="https://www.google.com/maps?saddr=My+Location&daddr={{data.ycoord}},{{data.xcoord}}" target="new"><img src="images/compass.png" width="100px" alt="Click here to route to this location" /></a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-xs-6">
            <p>{{data.about}}</p>
        </div>
        <div class="col-xs-6">
            <h3>Opening Hours: </h3>
            <p>{{data.opening_hours}}</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-3">
        <h2>Shop details</h2>
            <p> Breakfast: {{data.breakfast}}
                <br> Lunch: {{data.lunch}}
                <br> Hot food: {{data.hot_food}}
                <br> Pastry: {{data.pastry}}
            </p>
        </div>

        <div class="col-xs-2">
            <h3>Coffee</h3>
            <p> Roaster: {{data.coffee1}}
                <br> Grinder: {{data.grinder1}}
                <br> Machine: {{data.machine1}}
            </p>
        </div>
            <div class="col-xs-2">
            <a class="socials twitter" href="{{data.twitter}}" target="_blank" rel="nofollow" class="twitter"><i class="fa fa-twitter fa-2x"></i></a>
            </div>
            <div class="col-xs-2">
            <a class="socials facebook" href="{{data.facebook}}" target="_blank" rel="nofollow" class="facebook"><i class="fa fa-facebook fa-2x"></i></a>
            </div>
            <div class="col-xs-2">
            <a class="socials instagram" href="{{data.instagram}}" target="_blank" rel="nofollow" class="instagram"><i class="fa fa-instagram fa-2x"></i></a>
        </div>
    </div>
</div>
