<div class="shopdetails">
    <div id="detailheadleft">
        <h1>{{data.name}}</h1>
        <p>{{data.address}}
            <br> {{data.phone}}
            <br>
            <a href="{{data.href}}" target="new">{{data.href}}</p>
        </div>    
        
        <div id="detailheadright">
          <a href="https://www.google.com/maps?saddr=My+Location&daddr={{data.ycoord}},{{data.xcoord}}" target="new">  <img src="images/compass.png" width="100px" alt="Click here to route to this location"/></a>
    </div>
    <div class="modal_column">
        <img src="{{data.external_path}}" width="200px" ALT="shop photo">
        <img width="200px" height=auto src="{{data.internal_path}}" ALT="internal shot">
        <p font size="12px">{{data.about}}</p>
    </div>
    <hr>
    <!-- test-->
    <div class="dbdetails">
    <div class="row">
        <div class="alignleft">
            <h3>Shop details</h3> Breakfast: {{data.breakfast}}
            <br> Lunch: {{data.lunch}}
            <br> Hot food: {{data.hot_food}}
            <br> Pastry: {{data.pastry}}
            <br>
        </div>
        <div class="alignleft">
            <h3>Coffee</h3> Roaster: {{data.coffee1}}
            <br> Grinder: {{data.grinder1}}
            <br> Machine: {{data.machine1}}
            <br>
        </div>
        <div class="alignright">
            <h3>Opening Hours: </h3>
            <p>{{data.opening_hours}}</p>
        </div>
        </div>
    </div>
        <hr>
        <div class="detailsfooter">
            <div class="row socials">
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="col-xs-4 floatleft"><a href="{{data.twitter}}" target="_blank" rel="nofollow" class="twitter"><i class="fa fa-twitter fa-2x"></i></a>
                    </div>
                    
                    <div class="col-xs-4 floatcentre"><a href="{{data.facebook}}" target="_blank" rel="nofollow" class="facebook"><i class="fa fa-facebook fa-2x"></i></a>
                    </div>
                    
                    <div class="col-xs-4 floatright"><a href="{{data.instagram}}" target="_blank" rel="nofollow" class="instagram"><i class="fa fa-instagram fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    
</div>
