{{> admin-header}}
<div class="container-fluid main-container">
    <div class="col-md-2 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/cms/admin">Home</a></li>
            <li><a href="/cms/shops">Shops</a></li>
            <li class="active"><a href="/cms/users">Users</a></li>
        </ul>
    </div>
    <div class="col-md-10 content">
        <div class="panel panel-default">
            <div class="panel-heading">
                User Accounts
            </div>
            <div class="panel-body">

            <form class="form-horizontal">
            <fieldset>

            <!-- Form Name -->
            <legend>Add user</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Name</label>
              <div class="col-md-6">
              <input id="name" name="name" type="text" placeholder="name" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email</label>
              <div class="col-md-6">
              <input id="email" name="email" type="text" placeholder="someone@home.com" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="password">Password</label>
              <div class="col-md-6">
                <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="password2">Verify Password</label>
              <div class="col-md-6">
                <input id="password2" name="password2" type="password" placeholder="password" class="form-control input-md" required="">

              </div>
            </div>

            </fieldset>
            </form>
        </div>
    </div>
</div>
<script src="/js/cms/user-admin.js"></script>
{{> admin-footer}}
