{{> admin-header}}
<div class="container-fluid main-container">
    <div class="col-md-2 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/cms/admin">Home</a></li>
            <li><a href="/cms/shops">Shops</a></li>
            <li class="active"><a href="/cms/users">Users</a></li>
        </ul>
    </div>
    <div class="col-md-10 content">
        <div class="panel panel-default">
            <div class="panel-heading">
                User Accounts
            </div>
            <div class="panel-body">
                <table id="userlist" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Enabled</th>
                                <th>Admin</th>
                                <th>Shop name</th>
                            </tr>
                        </thead>
                </table>
            </div>
        </div>
    </div>
    <script src="/js/cms/user-admin.js"></script>
{{> admin-footer}}
