/* ************GLOBAL CSS********************** */

@charset "utf-8";
::selection {
    background: #666;
    color: #FFF;
}

::-webkit-scrollbar {
    width: 9px;
}y

::-webkit-scrollbar-track {
    background: #eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
}

::-webkit-scrollbar-thumb {
    background: #d55f11;
    border: thin solid gray;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

body {
    background: #f0f0f0;
    color: #3a4047;
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
}

section {
    padding: 50px 0;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

section a {
    text-decoration: none;
    color: #e74c3c;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

section a:hover {
    text-decoration: none;
}

hr {
    height: 5px;
    width: 35px;
    border: 0 none;
}

section hr {
    margin: 2em auto 2.5em;
    background-color: #d55f11;
}

hr.smaller {
    width: 40px;
    height: 3px;
    color: #ffcccc;
    margin: 1em auto 2em auto;
}

.slide {
    background-attachment: fixed;
    width: 100%;
    position: relative;
    padding: 0 0 30px 0;
    color: #2f3036;
    background-image: 'images/homeimage.png';
}

h2.heading {
    font-family: 'Advent Pro', 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    color: #3a4047;
    padding: 40px 0 60px 0;
}

h3.heading3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #d55f11;
    padding: 0;
}

.visible {
    visibility: visible !important;
}

.concealed {
    visibility: hidden;
}

.desc_text {
    padding: 0 15px;
}


/* ****************Navivigation CSS*************** */

#nav {
    width: 100%;
    height: 100px;
    background-color: #3a4047;
    font-family: 'Advent Pro', 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    position: relative;
    z-index: 999;
}

#nav a {
    width: 53px;
    padding: 0 20px;
    position: relative;
    top: 35px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    font-weight: 300;
    /* border-bottom: 5px solid #38ACEC; */
    -moz-transition: color .3s ease-in;
    -o-transition: color .3s ease-in;
    -webkit-transition: color .3s ease-in;
    transition: color .3s ease-in;
}

#nav a:hover {
    color: #d55f11;
}

#nav a.home {
    height: 90px;
    width: 100px;
    margin-top: 5px;
    float: left;
    padding: 0;
    top: 0;
}

#nav img.logo {
    height: auto;
    width: 120px;
    float: left;
}

#nav a#overlay-menu {
    float: right;
    margin-right: 35px;
    margin-top: -5px;
}

#nav a#overlay-menu:hover {
    color: #d55f11;
}

.navigation-wrapper {
   background: rgba(0, 0, 0, .9);
    padding: 40px 0 0 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9000;
    display: none;
}

.navigation {
    padding: 40px 5% 0 5%;
    display: none;
    font-family: 'Advent Pro', 'Montserrat', sans-serif;
}

.show-menu {
    display: block;
}

.navigation li {
    list-style: none;
    margin: 20px 0;
}

.navigation-wrapper ul.navigation li a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    -moz-transition: color .3s ease-in;
    -o-transition: color .3s ease-in;
    -webkit-transition: color .3s ease-in;
    transition: color .3s ease-in;
}

.navigation-wrapper .navigation li a:hover {
    color: #d55f11;
}

.navigation-wrapper ul.navigation hr.smaller {
    width: 20px;
    height: 3px;
    color: #d55f11;
    background: #ffcccc;
    margin: 1em auto 2em auto;
    z-index: 1000;
    opacity: 1;
}

#about,
#synopsis,
#routing,
#contact {
    position: relative;
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    font-weight: 100;
    line-height: 35px;
    font-family: 'Open Sans', sans-serif;
}

#about,
#routing {
    background: #f6f6f6;
}

#synopsis,
#contact {
    background: #fff;
}
/* *****************synopsis CSS**************** */

#synopsis {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

#synopsis h3.heading3 {
    margin-top: 3rem;
}

#synopsis hr.smaller {
    width: 40px;
    height: 3px;
    color: #ffcccc;
    margin: 3em auto;
}

#synopsis .column {
    padding: 80px;
}

#synopsis .above {
    border-bottom: 1px solid #eee;
}

#synopsis .row .right {
    border-left: 1px solid #eee;
}


/* *******************routing CSS****************** */

#routing h3 {
    padding-top: 2.5rem;
}

.imgcentered {
    display: block;
    margin: 0px auto;
    width: 824px;
    padding: 15px;
}

#routing hr.smaller {
    width: 40px;
    height: 3px;
    color: #ffcccc;
    margin: 3rem auto;
}

#routing .row {
    text-align: left;
}

#routing .row p {
    padding: 0 15px;
}

#routing h3.about {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    color: #4d545d;
    padding: 0 0 0 15px;
}

#routing hr.portline {
    width: 50px;
    height: 1px;
    background: #e0e0e0;
    margin: 20px 15px;
}

#routing .later {
    margin-bottom: 100px;
}

#routing .about-col {
    margin-bottom: 50px;
}


/* ****************Contact CSS******************** */

#contact form input[type="text"],
#contact form input[type="email"] {
    width: 100%;
    max-width: 500px;
    height: 60px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #454d55;
    overflow: hidden;
    color:#d55f11;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

#contact form textarea {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    padding: 20px 20px;
    background-color: #fff;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #454d55;
    overflow: hidden;
    color:#d55f11;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

#contact form input:focus,
#contact form textarea:focus {
    overflow: auto;
    border-bottom: 2px solid #7d8a99;
    background: #fff none;
    outline-color: transparent;
    outline-style: none;
}

#contact #submitbutton {
    padding: 15px;
    margin-top: 2rem;
    background: #d55f11;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 0px;
    text-transform: uppercase;
}

#contact #submitbutton:hover {
    text-decoration: none;
    background: #2f3036;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

#contact .socials {
    margin: 10rem 0;
}

#contact .socials a.twitter,
#contact .socials a.github,
#contact .socials a.facebook {
    color: #d55f11;
}

#contact .socials a.twitter:hover {
    color: #55acee;
}

#contact .socials a.github:hover {
    color: #000;
}

#contact .socials a.facebook:hover {
    color: #3B5998;
}


/* **************Media queries************* */
