html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.media,
.media-body {
    overflow: hidden;
    zoom: 1
}

.media-body {
    width: 10000px
}


.media-body,
.media-left,
.media-right {
    display: table-cell;
    vertical-align: top
}


.shopdetails {
    font-size: 12px;
    color: #fff;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    background-color: #2f3036;
    z-index: 12000;
    border: 3px solid #fff;
    padding: 25px;
}

.detailheaderleft {
    color: #fff;
    float: left;
}

.detailheaderright {
    font-size: 12px;
    color: #fff;
    float: right;
}

.alignleft {
    float: left;
    font-size: 12px;
    color: #fff;
    margin-right: 50px;
    padding-right: 100px;
}

.alignright {
    font-size: 12px;
    color: #fff;
    float: right;
}

.floatclear {
    clear: both;
}

.dbdetails,
.dbdetails .alignleft,
.dbdetails .alignright {
    font-size: 14px;
    color: #fff;
}

.dbdetails h3 {
    color: #fff;
}

.modal_column,
.modal_column p {
    font-size: 12px;
    color: #fff;
}

.shopinsert {
    padding: 25px;
    color: inherit;
    background-color: #2f3036;
    margin: 0px;
    border-radius: 6px;
    max-width: 80%;
}

.shopinsert h1,
.shopinsert .h1 {
    color: #fff;
    font-size: 50px;
}

.shopinsert p {
    margin-bottom: 15px;
    font-size: 6px;
}

.modal-dialog,
.modal-body {
    padding: 0px;
    display: block;
    position: fixed;
    left: 10%;
    right: 10%;
    width: 80%;
    z-index: 11000;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%)
}


.modalclose {
    position: absolute;
    top: -25px;
    right: -25px;
    text-align: center;
    color: #fff;
    z-index: 11005;
    background-color: #d55f11;
    border-color: #fff;
    border-width: 5px;
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
}



.jumbotron .h1,
.jumbotron h1 {
    color: inherit
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 200
}

.jumbotron>hr {
    border-top-color: #d5d5d5
}

.container .jumbotron,
.container-fluid .jumbotron {
    border-radius: 6px
}

.jumbotron .container {
    max-width: 100%
}

@media screen and (min-width:768px) {
    .jumbotron {
        padding-top: 48px;
        padding-bottom: 48px
    }
    .container .jumbotron,
    .container-fluid .jumbotron {
        padding-right: 60px;
        padding-left: 60px
    }
    .jumbotron .h1,
    .jumbotron h1 {
        font-size: 63px
    }
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left
}


.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.row:after,
.row:before {
    display: table;
    content: " "
}

.row:after {
    clear: both
}


.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}



.row {
    width: 100%;
}

p {
    font-size: 12px;
}

.col-xs-6,
.col-xs-3,
.col-xs-2,
.col-xs-12 {
    color: #fff;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 5px solid #fff;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}
.jumbotron {
    background-color: #6b6b6b;
    border-width: 5px;
    border-color: #fff;
    border-radius: 25px;
}

.modal-body {
    position: relative;
    padding: 15px
}
.twitter a:link,
.github a:link,
.instagram a:link,
.facebook a:link {
    color: #d55f11;
}

a {
    color: #fff;
}


.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}


.twitter a:visited,
.github a:visited,
.instagram a:visited,
.facebook a:visited {
    color: #d55f11;
}

.twitter a:hover {
    color: #55acee;
}

.github a:hover {
    color: #000;
}

.facebook a:hover {
    color: #3B5998;
}

.instagram a:hover {
    color: #517fa4;
}


.shopdetails {
    font-size: 12px;
    color: #fff;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    background-color: #2f3036;
    z-index: 12000;
    border: 3px solid #fff;
    padding: 25px;
}

.detailheaderleft {
    color: #fff;
    float: left;
}

.detailheaderright {
    font-size: 12px;
    color: #fff;
    float: right;
}

.alignleft {
    float: left;
    font-size: 12px;
    color: #fff;
    margin-right: 50px;
    padding-right: 100px;
}

.alignright {
    font-size: 12px;
    color: #fff;
    float: right;
}

.floatclear {
    clear: both;
}

.dbdetails,
.dbdetails .alignleft,
.dbdetails .alignright {
    font-size: 14px;
    color: #fff;
}

.dbdetails h3 {
    color: #fff;
}

.modal_column,
.modal_column p {
    font-size: 12px;
    color: #fff;
}

.shopinsert {
    padding: 25px;
    color: inherit;
    background-color: #2f3036;
    margin: 0px;
    border-radius: 6px;
    max-width: 80%;
}

.shopinsert h1,
.shopinsert .h1 {
    color: #fff;
    font-size: 50px;
}

.shopinsert p {
    margin-bottom: 15px;
    font-size: 6px;
}

.modal-dialog,
.modal-body {
    padding: 0px;
    display: block;
    position: fixed;
    left: 10%;
    right: 10%;
    width: 80%;
    z-index: 11000;
}

.modalclose {
    position: absolute;
    top: -25px;
    right: -25px;
    text-align: center;
    color: #fff;
    z-index: 11005;
    background-color: #d55f11;
    border-color: #fff;
    border-width: 5px;
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
}

.jumbotron {
    background-color: #6b6b6b;
    border-width: 5px;
    border-color: #fff;
    border-radius: 25px;
}

.row {
    width: 100%;
}

p {
    font-size: 12px;
}

.col-xs-6,
.col-xs-3,
.col-xs-2,
.col-xs-12 {
    color: #fff;
}

.twitter a:link,
.github a:link,
.instagram a:link,
.facebook a:link {
    color: #d55f11;
}

a {
    color: #fff;
}

.twitter a:visited,
.github a:visited,
.instagram a:visited,
.facebook a:visited {
    color: #d55f11;
}

.twitter a:hover {
    color: #55acee;
}

.github a:hover {
    color: #000;
}

.facebook a:hover {
    color: #3B5998;
}

.instagram a:hover {
    color: #517fa4;
}



/* *****************************************************************************/
/*                                                                             */
/*                                  style.css                                  */
/*                                                                             */
/* *****************************************************************************/

body,
html {
    font: 22px Helvetica, Sans-Serif;
    background-color: #2f3036;
    width: 100%;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/*MAPS*******/

.map {
    height: 85%;
    width: 100%;
    z-index: 0;
    top: 15%;
}


/**********************/

#header {
    font-family: 'Advent Pro', sans-serif;
    color: white;
    position: fixed;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    height: 15%;
    z-index: 400;
    background-color: rgba(100, 100, 100, 1);
}

.logo {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 15%;
    height: auto;
    max-width: 150px;
    z-index: 100;
}

.location {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 20%;
    height: auto;
    max-width: 150px;
    z-index: 502;
}
ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 20;
}


/*makes menu a horizontal list with spaces*/

li {
    display: inline-block;
    float: left;
    margin-right: 1px;
    z-index: 20;
}


/*Style for menu buttons*/

li a {
    display: block;
    min-width: 140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: 'Advent Pro', Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}


/*Hover mouseover / focus for top menu links*/

li:hover a {
    background: #d55f11;
}


/*colour for sub menu*/

li:hover ul a {
    background: #2f3036;
    color: #d55f11;
    height: 40px;
    line-height: 40px;
}


/*Hover state for dropdown links*/

li:hover ul a:hover {
    background: #d55f11;
    color: #fff;
}


/*Hide dropdown links until they are needed*/

li ul {
    display: none;
}


/*Make dropdown links vertical*/

li ul li {
    display: block;
    float: none;
}


/*Prevent text wrapping*/

li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

li i {
    vertical-align: middle;
    padding: 15px;
    line-height: 40px;
}

/*Display the dropdown on hover*/

ul li a:hover + .hidden,
.hidden:hover {
    display: block;
}


/*Style 'show menu' label button and hide it by default*/

.showme-menu{
    font-family: 'Advent Pro', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background:  #2f3036;
    text-align: center;
    padding: 10px 0;
    display: none;
    z-index: 10;
}


/*Hide checkbox*/

input[type=checkbox] {
    display: none;
    -webkit-appearance: none;
}


/*Show menu when invisible checkbox is checked*/

input[type=checkbox]:checked ~ #menu {
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width: 760px) {
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li,
    li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .showme-menu {
        display: block;
    }
}


#main {
    font: 10px Helvetica, San-Serif #330000;
    text-decoration: none;
}

/*MAPS*******/

.map {
    height: 85%;
    width: 100%;
    z-index: 1;
    top: 15%;
}


/**********************/
