.shopdetails {
	display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    margin: auto;
	z-index: 10000;
	background-color: #eee;
	box-shadow: 5px;
	border: 3px solid #2f3036;
}

.shopinsert {
  padding: 25px;
  color: inherit;
  background-color: #eee;
  margin: 10px;
  border-radius: 6px;
  max-width: 80%;
}
.shopinsert h1,
.shopinsert .h1 {
  color: inherit;
   font-size: 50px;
}
.shopinsert p {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 200;
}

.modal-body {
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}


.modalclose {
  position: fixed;
  top: 10px;
  right: 10px;
  color: #fff;
  z-index: 10000;
  background-color: #2f3036;
  border-color: #000;
  border-radius: 50%;
}