.shopdetails {
	width: 100%;
	height:100%;
	overflow-x: hidden;
	overflow-y: hidden;
	position: fixed;
	z-index: 10000;
	margin: 200px;
	background-color: red;
	box-shadow: 5px;
	top: 20%;
}

@media screen and (min-width: 768px) { 
 
.shopinsert {
  padding-top: 25%;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  border-radius: 6px;
  max-width: 80%;
}
.shopinsert h1,
.shopinsert .h1 {
  color: inherit;
   font-size: 50px;
}
.shopinsert p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.shopinsert {
}

@media screen and (min-width: 768px) {
  .shopinsert {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .shopinsert h1,
  .shopinsert .h1 {
    font-size: 50px;
  }