body {
    font: 16px Helvetica, Sans-Serif;
}

a:link {
    font: 30px Helvetica, San-Serif #FFFFFF;
    text-decoration: none;
}

a:vlink {
    font: 30px Helvetica, San-Serif #FFFFFF;
    text-decoration: none;
}

a:visited {
    font: 30px Helvetica, San-Serif #FFFFFF text-decoration: none;
}

a:hover {
    font: 30px Helvetica, San-Serif #FFFFFF text-decoration: none;
}

#main {
    font: 30px Helvetica, San-Serif #FFFFFF;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px solid #CCCCCC;
    color: #777777;
    display: block;
}

h4 {
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px solid #CCCCCC;
    color: #CCCCCC;
    display: block;
}

h2 {
    font-size: 20px;
    margin: 0 0 6px 0;
    display: block;
}

#menu > li {
    display: inline-block;
    padding-right: 14px;
    font-size: 0.8em;
}

#content p {
    border-bottom: 2px dotted #167cff;
    padding-bottom: 10px;
}

#month {
    width: 100%;
    height: auto;
    margin: 20px;
    clear: left;
    padding: 20px 20px 20px 20px;
    float: left;
}

#card,
#card2,
#card3 {
    font: 16px Helvetica, Sans-Serif;
    line-height: 24px;
    height: 170px;
    width: 500px;
    margin: 20px;
    background: #F0F0F0;
    clear: left;
    padding: 20px 20px 20px 20px;
    float: left;
    display: block;
}

#card2 {
    height: 350px;
}

#card3 {
    background-color: #FFFF00;
    -webkit-transform: rotate(2deg);
    /* Safari */
    transform: rotate(2deg);
}

#card3:hover {
    background-color: #FFCCFF;
    -webkit-transform: rotate(0deg);
    /* Safari */
    transform: rotate(0deg);
    box-shadow: 0px 0px 10px 5px lightblue;
    "

}


/*calendarlogo*******/

#cardlogo {
    fill: white
}

#cardlogo:hover,
#calendarlogo:hover {
    fill: #3399FF
}

.fil1 {
    fill: white
}

.fil2 {
    fill: #888888
}

.fil3 {
    fill: #3399FF
}


/*MAPS*******/

.map {
    height: 85%;
    width: 100%;
    z-index: 1;
}

.str0 {
    stroke: #2B2A29;
    stroke-width: 11.8095
}

.str2 {
    stroke: #2B2A29;
    stroke-width: 11.8095
}

.str1 {
    stroke: #2B2A29;
    stroke-width: 2.3619
}

.fill5 {
    fill: none
}

.fill0 {
    fill: #FEFEFE
}

.fill4 {
    fill: #D9DADA
}

.fill2 {
    fill: #B2B3B3
}

.fill3 {
    fill: #898989
}

.fill1 {
    fill: #2B2A29
}

.fill6 {
    fill: #70591C
}

#header {
    font-size: 1.2em;
    text-align: center;
    width: 700px;
    height: 70px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 16px;
    border: solid 2px #156cff;
    color: #156cff;
    border-radius: 5px
}

#content {
    width: 702px;
    margin: auto;
}

.spinner {
    position: fixed;
    z-index: 50;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.timer {
    -webkit-animation-name: fillcup;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear, ease;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-name: fillcup;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear, ease;
    -moz-animation-delay: 0s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
}

#level1 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}

#level2 {
    -webkit-animation-delay: 1.25s;
    -moz-animation-delay: 1.25s;
}

#level3 {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

#level4 {
    
    -webkit-animation-delay: 1.75s;
    -moz-animation-delay: 1.75s;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes fillcup {
	
    from {
        fill: rgba(77, 38, 0, 0);
    }
    to {
        fill: rgba(77, 38, 0, 50);
    }
}

@-moz-keyframes fillcup {
	
    from {
        fill: rgba(77, 38, 0, 0);
    }
    to {
        fill: rgba(77, 38, 0, 50);
    }
}
