/*Strip the ul of padding and list styling*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
}


/*makes menu a horizontal list with spaces*/

li {
    display: inline-block;
    float: left;
    margin-right: 1px;
}


/*Style for menu buttons*/

li a {
    display: block;
    min-width: 140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}


/*Hover mouseover / focus for top menu links*/

li:hover a {
    background: #ff8432;
}


/*colour for sub menu*/

li:hover ul a {
    background: #2f3036;
    color: #ff944d;
    height: 40px;
    line-height: 40px;
}


/*Hover state for dropdown links*/

li:hover ul a:hover {
    background: #ff8432;
    color: #fff;
}


/*Hide dropdown links until they are needed*/

li ul {
    display: none;
}


/*Make dropdown links vertical*/

li ul li {
    display: block;
    float: none;
}


/*Prevent text wrapping*/

li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}


/*Display the dropdown on hover*/

ul li a:hover + .hidden,
.hidden:hover {
    display: block;
}


/*Style 'show menu' label button and hide it by default*/

.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background:  #2f3036;
    text-align: center;
    padding: 10px 0;
    display: none;
}


/*Hide checkbox*/

input[type=checkbox] {
    display: none;
    -webkit-appearance: none;
}


/*Show menu when invisible checkbox is checked*/

input[type=checkbox]:checked ~ #menu {
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width: 760px) {
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li,
    li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display: block;
    }
}
.wide1{
    width:100%;
    height:500px;
    overflow-y: hidden;
    background-color:  #f5f5d6;
    color: #2f3036;
}
.contactus{
    width:100%;
    height:100%;
    overflow-y: hidden;
    background-color: #ff0000;
    color: #2f3036;
}
.aboutus{
    padding:10% 5% 0% 5%;
    width:90%;
    color: #2f3036;
    text-align: justify;
}

.wide2{
    width:100%;
    height:500px;
    overflow-y: hidden;
    background-image: 'images/testwide.jpg';
    background-color:   #e5d6f5;
}

#main {
    font: 10px Helvetica, San-Serif #330000;
    text-decoration: none;
}

/*MAPS*******/

.map {
    height: 85%;
    width: 100%;
    z-index: 1;
    top: 15%;
}


/**********************/

.menubox{
    width:"100%";
    height:"10%";
    background-color: green;
}